<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/perguntas.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aba perguntas</title>
</head>

<body>
    <%- include ('../components/navbar.ejs') %>
    <div class="container">
        <div class="card mt-5 col-8 mx-auto">
            <div class="card-header text-center">
                <h2>Modificar pergunta</h>
            </div>
            <div class="card-body">
                <div>
                    <form method="post" class="mx-auto" action="/pergunta/<%=  perguntas.id   %>">
                        <label> Titulo</label>
                        <input type="text" name="titulo" value="<%=  perguntas.titulo   %>" id="titulo" class="form-control" placeholder="Digite aqui seu titulo">
                        <label>Descrição</label>
                        <textarea class="form-control" id="descricao" name="descricao" placeholder="Descreva sua pergunta"><%=  perguntas.descricao   %></textarea>
                        <br>
                        <button class="btn btn-primary">Enviar</button>
                    </form>
                </div> <!-- final formulario-->
            </div> <!-- final card-body-->
        </div> <!-- final card-->
    </div> <!-- final formulario-->
</body>
<%- include ('../components/links.ejs') %>
</html>